<div class="grid-container">

  <div class="grid-item picture"><img src="/assets/img/burger.png"></div>
  <div class="grid-item title">
    <h1>Eat the Burger.</h1>
  </div>

  <div class="grid-item to-eat">
    <h2>To Be Eaten:</h2>

    {{#each burgers}}
    {{#unless devoured}}
    <p>{{id}}. {{burger_name}} <input type="button" value="Devour" data-id="{{id}}" class="burger-eater"></p>
    {{/unless}}
    {{/each}}


  </div>

  <div class="grid-item eaten">
    <h2>Eaten:</h2>

    {{#each burgers}}
    {{#if devoured}}
    <p>{{id}}. {{burger_name}}</p>
    {{/if}}
    {{/each}}
  </div>
  <div class="grid-item input-area">

    <form>
      <input type="text" style="width:400px; height:100px" id="burger-input">
      <br>
  </div>
  <div class="grid-item submit">

    <input type="submit" value="Submit" id="burger-submit">
    </form>

  </div>
  <div class="grid-item info">Enter a burger you want to eat, then click the "Submit" button.</div>
  <div class="grid-item delete">    <input type="submit" value="Delete All Burgers" id="delete-all"></div>
    <div class="grid-item github"><a href="https://github.com/ajz003/burger">GitHub</a></div>

</div>